<p>単独</p>
<%= @monster.name %>
<%= @monster.Offensive_power %>
<%= @monster.Defense_power %>
<br>
<%= link_to("edit","/monsters/#{@monster.id}/edit") %>
<%= link_to("destroy","/monsters/#{@monster.id}/destroy",
	{method: "post"}) %>