<!DOCTYPE html>
<html>
  <head>
    <title>Sample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="top-bar">
        <div class="top_bar_inner">
          <% if user_signed_in? %>
            <div class="top_bar_left">
              <strong><%= link_to current_user.username, tasks_path %></strong>
            </div>
            <div class="top_bar_right">
              <div class="new_task">
                <%= link_to new_task_path do %>
                <i class="fa fa-plus-circle"></i>
                <% end %>
              </div>
              <div class="profile">
                <%= link_to edit_user_registration_path do %>
                <i class="fa fa-user-circle"></i>
                <% end %>
              </div>
              <div class="logout">
                <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>
                <% end %>
              </div>
            </div>
          <% else %>
            <div class="header_logout">
              <%= link_to '新規登録', new_user_registration_path %>
              <%= link_to 'ログイン', new_user_session_path %>
            </div>
          <% end %>
        </div>
      </nav>
    </header>

    <%= yield %>

  </body>
</html>
